* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notify {
    margin:0 auto;
    padding-top: 50px;
    width: 400px;
    height: 400px; 
    display: flex;
}
.icon {
    width: 200px;
    height: 200px;
    position: relative;
}
.icon img {
    width: 200px;
    height: 200px;
}
.circle {
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    margin-left: 120px;
}