* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notify {
    margin:0 auto;
    padding-top: 50px;
    width: 400px;
    height: 400px; 
    display: flex;
}
.bell {
    font-size: 10rem;
    position: relative;
    color: blue;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;   
}
.circle span {
    width: 40px;
    height: 30px;
    font-size: 30px;
    color: white;   
}
